body{
    margin: 0;
}

header{
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-position: top;
    background-color: #4ea0ff;
    min-height: 178px;
}

.logo{
    width: 300px;
    margin-bottom: -140px;
    margin-left: 20px;
}