body{
    margin: 0;
}

header{
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-position: top;
    background-color: #4ea0ff;
    min-height: 178px;
}

.logo{
    width: 300px;
    margin-top: 64px;
    margin-left: 30px;
}

main{
    margin: 30px;
}

.titolo{
    font-size: 55px;
    line-height: 58px;
    margin: 0;
}

.autore{
    color: #9b9b9b;
    font-size: 25px;
    font-weight: bold;
}

a{
    text-decoration: none; 
	font-weight: bold;
	color: #4ea0ff;
}

.data{
    color: #9b9b9b;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.didascalia{
    font-size: 14px;
}

.evidenziato{
    background-color: #ffff00;
}

ul{
    padding-inline-start: 0;
    margin-left: 15px;
}

table{
    text-align: left;
    width: 100%;
    border-spacing: 0;
    background-color: #b1e5f2;
}

#prima-colonna{
    width: 30%;
}

#seconda-colonna{
    width: 30%;
}

#terza-colonna{
    width: 60%;
}

.titolo-tabella{
    background-color: #20a9e5;
    color: white;
}

.riga-bianca{
    background-color: white;
}

footer{
    margin: 30px;
}

.correlati{
    color: #666565;
    margin-top: 45px;
}

.item-1{
    padding: 1px 20px 80px 20px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 250px;
    height: 150px;
}

.item-2{
    padding: 1px 20px 80px 20px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 250px;
    height: 150px;
}
